/* # -*- mode: css -*- 
           ScoDoc, (c) Emmanuel Viennet 1998 - 2010
 */

.simpleDropPanel { 
    float: left;
    border-width: 2px;
    border-style: solid;
    width: 18em;
    margin: 5px;
    padding: 3px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(212, 248, 252);
}

.activatedPanel {
    border-color: red;
}

#_none_ { /* boite des sans groupes */
    background-color: rgb(190, 190, 190);
}

#_none_ div.groupTitle0 {
    background-color: rgb(190, 190, 190);
}

.groupTitle {
    font-weight: bold;
}

div.groupTitle {
    background-color: rgb(212, 248, 252);
    padding-left: 2px;
}

div.groupTitle0 {
    background-color:rgb(212, 248, 252); 
}



#groups {
    overflow:hidden;
    background-color: rgb(255, 248, 220);
    margin-right: 4px;
    border-width: 2px;
    border: 2px solid rgb(150, 220, 220);
}

#groups .barrenav ul li a.custommenu {
    /* background-color: rgb(212, 248, 252);  */
    font-size: 12pt;
    height: 18px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-transform: none;
}

div.box {
    margin-left:4px;
}

#ginfo {
    margin: 1em;
}

#savedinfo {
    text-align: center;
    font-style: italic; 
    font-weight: bold;
    color: red;
    
}

#formGroup {
  margin: 1em;
}

span.groupDelete {
    padding-left:3em;
}

span.newgroup {
    font-style: italic; 
    color: red;
}
